/* Universal Styles */
html {
    background-color: white;
}

/* Header */
.heading {
    background-color: grey;
    padding: 0px 0px;
    border: 0px;
    margin: 0px 0px;
    font-size: 100px;
    font-weight: bold;
    font-family: Helvetica;
    text-align: center;
    color: white;
}
.blurb {
    background-color: lightgrey;
    font-family: Helvetica;
    text-align: center;
    padding: 10px 0px;
}

/* Navigation */
.navigation {
    text-align: right;
}
.navigation a {
    text-decoration: none;
}

/* Body */

/* Footer */
footer {
    background-color: black;
    color: white;
    height: 50px;
}
/* Update styling - banner is white, footer is black with white text, body is light grey */
/* Navigation between pages is at bottom of page above footer, but sticky so always displaying.
    Has breadcrumbs in it, and in the middle is the 'Home' button (see OneNote for image). */