/* Universal Styles */
html {
    background-color: white;
}

/* Header */
.heading {
    background-color: rgb(233, 233, 233);
    padding: 10px 0px;
    border: 0px;
    margin: 0px 0px;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: black;
}

/* Navigation */
.navigation {
    text-align: right;
    padding-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navigation a {
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}
.breadcrumbs li {
    display: inline;
}
.breadcrumbs li+li::before {
    color: gray;
    content: ">";
}
.breadcrumbs a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
.breadcrumbs a:visited {
    color: black;
}

/* Body */
.main {
    background-color:whitesmoke;
    padding: 10px 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.colors {
    background-color: black;
    color: white;
    height: 200px;
    padding: 0px 20px;
}
.colors h3 {
    padding: 10px 0px;
}
.color-panel {
    width: 150px;
    height: 75px;
    margin-left: 20px;
    text-align: center;
    display: inline-block;
}
.white {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: white;
}
.offwhite {
    background-color: rgb(233, 233, 233);
    color: black;
    border-style: solid;
    border-color: rgb(233, 233, 233);
}
.black {
    background-color: black;
    border-style: solid;
    border-color: white;
}
.gray {
    background-color: gray;
    border-style: solid;
    border-color: gray;
}
.whitesmoke {
    background-color: whitesmoke;
    border-style: solid;
    border-color: whitesmoke;
    color: black;
}
.fonts {
    background-color: white;
    color: black;
    height: 240px;
    padding: 0px 20px;
}
.fonts h3 {
    padding: 10px 0px;
}
.bold {
    font-weight: bold;
}
.italics {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
.text_styles {
    background-color: white;
    color: black;
    height: 650px;
    padding: 0px 20px;
}
.text_styles h3 {
    padding: 10px 0px;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    height: 50px;
    padding: 3px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}